@model IEnumerable<BookStoreAPIClientCMS.Models.Stocks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Books</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">Books</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="mb-3">
        <a href="@Url.Action("Create","Stocks")" class="btn btn-success">Tạo mới</a>
    </div>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Books</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        @* <th style="width: 1%">
                                #
                            </th> *@
                        <th>
                            @Html.DisplayNameFor(model => model.isbn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Publisher_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Published_year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Retail_price)
                        </th>
                        <th style="width: 10%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @* <td>
                                    #
                                </td> *@
                            <td>
                                @Html.DisplayFor(modelItem => item.isbn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publisher_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Published_year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Retail_price)
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Details","Stocks", new { id=item.STOCK_ID })">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="@Url.Action("Edit","Stocks", new { id=item.STOCK_ID })">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Stocks", new { id=item.STOCK_ID })">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->